* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.d-none {
    display: none!important;
}

.ms_box {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 3px 3px 30px greenyellow;
}

.ms_form {
    border-radius: 30px;
}